/*GENERAL*/

body{
    margin: 0;
    margin-top: 80px;
    font-family: 'Roboto';
}

/*Separation*/
.separation{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr{
    height: 1px;
    margin: 0;
    padding: 0;
    color: #7a7a7a;
    background-color: #7a7a7a;
    border: 0;
    width: 100px 
}
.circle{
    background: #5cadd3;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid white 5px;
}



/*Header*/
header {
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 100;
    background: white;
    align-items: center;
    width: 100%;
    top:0;
}
.logo {
    display: inline-block;
    align-items: center;
}


/*Navigation*/
nav{
    font-size: 1.5em;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
nav li{
    padding: 30px;
    margin: auto;
}
nav li:hover{
    border-top: #4494bb 4px solid;
    padding-top: 26px
}
nav a {
    text-decoration: none;
    color: #7a7a7a;
}


/*Section Slider*/
#slider{
    position: relative;
    color: white;
    font-size: 2em;
    padding-bottom: 5%;
    overflow: hidden;
}
#slider img{
    width: 100%;
}
#slider div {
    position: absolute;
    top: 15%;
    left: 10%;
    max-width: 50%;
}
#slider em{
    font-style: normal;
    color: #5cadd3;
}
#slider button{
    background: #5cadd3;
    border: none;
    color: white;
    font-size: 0.75em;
    padding: 10px;
    border-radius: 4px;
}
#slider button:hover{
    box-shadow: -3px 3px 1px #4494bb;
}
#left{
    position: absolute;
    top: 40%;
    color: white;
    font-size: 0.8em;
    background-color: rgba(0,0,0,0.3);
    padding: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    left: -40px
}
.fa-angle-left{
    position: absolute;
    right: 25px;
    top: 33px;
}
#right{
    position: absolute;
    top: 40%;
    color: white;
    font-size: 0.8em;
    background-color: rgba(0,0,0,0.3);
    padding: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    right: -40px
}
.fa-angle-right{
    position: absolute;
    left: 25px;
    top: 33px;
}


/*Section Services*/
#services h2{
    text-align: center;
    font-size: 3em;
    margin: 0;
}
#services .separation+p{
    text-align: center;
}
.presentationServices{
    width: 50%;
}
.presentationServices aside{
    flex: 1;
}
.details{
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
    padding-bottom: 5%;
    margin-left: 12%;
    margin-right: 12%;
}
.details img{
    height: 100%;
    align-self: center;
}
.service{
    display: flex;
    align-items: center;
}
.circle2{
    background: #5cadd3;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid white 5px;
    position: absolute;
    right: -10px;
    top: 20px;
}
.circle1{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid gray;
    position: relative;
    margin: 15px 15px 15px 0px;
}
.fa-cubes, .fa-chart-line, .fa-chart-pie{
    position: absolute;
    font-size: 2em;
    color: #5cadd3;
}
.fa-chart-line{
    top: 20px;
    right: 20px;
}
.fa-cubes{

    top: 17px;
    right: 20px;
}
.fa-chart-pie{
    top: 17px;
    right: 16px;
}


/*Projets*/
#portfolio{
    background: #f5f5f5;
    padding-top: 2%;
}

#portfolio h2{
    text-align: center;
    font-size: 3em;
    margin: 0;
}
#portfolio .separation+p{
    text-align: center;
}
.buttons{
    display: flex;
    justify-content: center;
    padding: 3%;
}
.buttons button{
    font-size: 1em;
    background: #e5e5e5;
    border: none;
    padding: 12px;
    color: #64686d;
    position: relative;
}
.buttons button:hover{
    font-size: 1em;
    background: #5cadd3;
    border: none;
    padding-bottom: 8px;
    color: white;
    border-bottom: solid 4px #4494bb;
}
.buttons button:hover:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(92, 173, 211, 0);
    border-top-color: #4494bb;
    border-width: 12px;
    margin-left: -12px;
}

.buttons button:nth-child(1){
    border-radius: 5px 0px 0px 5px;
}
.buttons button:nth-child(4){
    border-radius: 0px 5px 5px 0px;
}
.imgPortfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5%;
}
.image{
    position: relative;
    width: 20%;
    margin: 20px;
}

.image img{
    width: 100%;
    height: 100%;
    margin: 0;
}

.image figcaption{
    visibility: hidden;
position: absolute;
bottom: 0;
background: rgba(0,0,0,0.5);
width: 100%;
color: white;
}
 
.image img:hover + figcaption {
    visibility: visible;
}

.image .circle1{
   width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    margin: 15px 15px 15px 0px;
    background: #5cadd3;
    top: -47px;
    right: 0;
}
.fa-eye{
    position: absolute;
    font-size: 1.7em;
    color: white;
    top: 16px;
    right: 15px;
}

.image h4{
    padding-left: 20px;
    margin-bottom: 0;
    font-size: 1.4em;
}
.image p{
    padding-left: 20px;
}

.image figcaption:hover{
    visibility: visible;
}


/*Contact*/
#contact{
    position: relative;
}

.map{
    position: relative;
}

.voile{
    background: rgba(92,173,211,0.3);
    width: 100%;
    height: 700px;
    z-index: 2;
    position: absolute;
}

#contact iframe{
    width: 100%;
    border: 0;
}

.formulaire{
    position: absolute;
    top:12%;
    right: 20%;
    z-index: 2;
    background: rgba(255,255,255, 0.8);
    padding: 2%;
    width: 15%
}

.formulaire h2{
    margin: 0;
}
.formulaire p{
    color: #686c71;
}

.formulaire em{
    font-style: normal;
    text-decoration: underline dashed;
}

form{
    display: flex;
    flex-direction: column;
}

form input, form textarea{
    margin: 10px 0;
    padding: 5px;
    font-size: 1.2em;
    border: solid 1px #9f9f9f;
    border-radius: 5px;
}

#envoyer{
    width: 50%;
    font-size: 1em;
    background: #e5e5e5;
    border: none;
    padding: 12px;
    color: #64686d;
}
#envoyer:hover{
    font-size: 1em;
    background: #5cadd3;
    border: none;
    padding-bottom: 8px;
    color: white;
    border-bottom: solid 4px #4494bb;
}


@media all and (max-width:1280px){
    #slider div{
        max-width: 80%;
    }
    
    #slider{
        font-size: 1.6em;
    }
    
    .presentationServices {
    width: 80%;
    }
    
    .image{
        width: 30%;
    }
    
      .formulaire{
        width: 30%;;
    }
}

@media all and (max-width:959px){
    #slider div{
        max-width: 100%;
        top:10%;
    }
    
    #slider{
        font-size: 1.2em;
    }
    
    .details{
        display: block;
        text-align: center
    }
    
    .presentationServices {
    width: 100%;
    }
    
    .image{
        width: 40%;
    }
    
      .formulaire{
        width: auto;
    }
    
}

@media all and (max-width: 735px){
      body{
        margin-top: 150px;
    }
     header{
        display: block;
        text-align: center;
    }
    nav li{
        padding: 30px 0;
    }
    
   #slider{
        font-size: 1em;
    }
    
    #slider h1{

        margin: 0;
    }
    
    #slider p{
        margin: 0;
    }
}

@media all and (max-width:479px){
 
    nav{
        font-size: 1em;
    }
    
    #slider{
        visibility: hidden;
    }
    #slider div{
        max-width: 100%;
    }
    
    #slider h1{
        font-size: 0.5em;
        margin: 0;
    }
    
    #slider p{
        font-size: 0.6em;
    }
    #slider button{
        padding: 2px;
    }
    
    .details{
        display: block;
        text-align: center
    }
    
    .details img{
        max-width: 100%;
    }
    
    .presentationServices {
    width: 100%;
    }
    
    .image{
        width: 90%;
    }
}