/*GENERAL*/

body{
    margin: 0;
    margin-top: 4.5rem;
    font-family: 'Roboto';
    font-size: 16px;
}

.block_page{
    max-width: 1280px;
    margin: auto;
    width: 100%;
}

.titreSection{
    text-align: center;
    font-size: 2.3rem;
    margin: 0;
}

.texteSection{
    text-align: center;
}

/*Separation*/
.separation{
    margin: 20px;
    display: flex;
    justify-content: center;
    position: relative;
}

.separation:before {
    content: "";
    height: 1px;
    background: #7a7a7a;
    position: absolute;
    top: calc(50% - 1px);
    width: 120px;
    left: calc(50% - 60px);
}
.cercle{
    background: #5cadd3;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid white 5px;
    position: relative;
}



/*Header*/
header{
    position: fixed;
    margin: auto;
    z-index: 100;
    width: 100%;
    background-color: white;
    top: 0;
    padding: 10px;
    border-bottom: solid 1px #ccc
}
.flexContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: inline-block;
    align-items: center;
}


/*Navigation*/
nav{
    font-size: 1.2rem;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
nav li{
    margin: auto;
}
nav a:hover{
    border-top: #4494bb 4px solid;
    padding-top: 23px
}
nav a {
    text-decoration: none;
    color: #7a7a7a;
    padding: 30px;
}


/*Section Slider*/
#slider {
    position: relative;
    color: white;
    padding-bottom: 5%;
    overflow: hidden;
}
.sliderImage{
    position: relative;
}
.sliderImage img{
    width: 100%;
}
.sliderText {
    position: absolute;
    top: 20%;
    left: 10%;
    max-width: 50%;
    font-size: 1.5rem;
}
.sliderText h1{
    margin: 0;
}
.texteBleu{
    color: #5cadd3;
}
#slider button{
    background: #5cadd3;
    border: none;
    color: white;
    font-size: 0.75rem;
    padding: 10px;
    border-radius: 4px;
}
#slider button:hover{
    box-shadow: -3px 3px 1px #4494bb;
}
.left, .right{
    position: absolute;
    top: calc(50% - 20px - 0.75rem);
    color: white;
    font-size: 1.5rem;
    background-color: rgba(0,0,0,0.3);
    padding: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.fa-angle-left{
    position: absolute;
    right: 25px;
    top: 33px;
}
.left{
    left: -40px
}
.right{
    right: -40px
}
.fa-angle-right{
    position: absolute;
    left: 25px;
    top: 33px;
}


/*Section Services*/
.presentationServices{
    width: 50%;
}
.presentationServices aside{
    flex: 1;
}
.details{
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
    padding-bottom: 5%;
    text-align: justify;
}
.details img{
    height: auto;
    align-self: center;
    max-width: 100%;
}
.service{
    display: flex;
    align-items: center;
    text-align: justify;
}
.service p{
    margin-right: 2rem;
}
.cercle1{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid gray;
    position: relative;
    margin: 15px 15px 15px 0px;
}
.cercle2{
    background: #5cadd3;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid white 5px;
    position: absolute;
    right: -10px;
    top: 20px;
}
.fa-cubes, .fa-chart-line, .fa-chart-pie{
    position: absolute;
    font-size: 2rem;
    color: #5cadd3;
}
.fa-chart-line{
    top: 20px;
    right: 20px;
}
.fa-cubes{
    top: 17px;
    right: 20px;
}
.fa-chart-pie{
    top: 17px;
    right: 16px;
}


/*Projets*/
#portfolio{
    background: #f5f5f5;
    padding-top: 2%;
}
.boutons{
    display: flex;
    justify-content: center;
    padding: 3%;
}
.boutons button{
    font-size: 1rem;
    background: #e5e5e5;
    border: none;
    padding: 12px;
    color: #64686d;
    position: relative;
    margin: 0;
}
.boutons button:hover{
    font-size: 1rem;
    background: #5cadd3;
    border: none;
    padding-bottom: 8px;
    color: white;
    border-bottom: solid 4px #4494bb;
}
.boutons button:hover:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #4494bb;
    border-width: 12px;
    margin-left: -12px;
}
.boutons button:nth-child(1){
    border-radius: 5px 0px 0px 5px;
}
.boutons button:nth-child(4){
    border-radius: 0px 5px 5px 0px;
}
.imgPortfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5%;
}
.image{
    position: relative;
    width: 20%;
    margin: 20px;
}
.image img{
    width: 100%;
    height: 100%;
    margin: 0;
}
.image figcaption{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    color: white;
}
.image img:hover + figcaption {
    visibility: visible;
}
.image figcaption:hover{
    visibility: visible;
}
.image h4{
    padding-left: 20px;
    margin-bottom: 0;
    font-size: 1.1rem;
}
.image p{
    padding-left: 20px;
    margin: 0 2px 7px 0;
}
.fa-eye{
    font-size: 1rem;
    color: white;
    border: 2px solid white;
    position: absolute;
    background: #5cadd3;
    right: 10px;
    padding: 15px;
    border-radius: 50%;
    top: calc((-15px / 2) - 1em);
}


/*Contact*/
#contact{
    position: relative;
}
.map{
    position: relative;
}
.voile{
    background: rgba(92,173,211,0.3);
    width: 100%;
    height: 700px;
    z-index: 2;
    position: absolute;
}
#contact iframe{
    width: 100%;
    border: 0;
}
.formulaire{
    position: absolute;
    top:12%;
    right: 20%;
    z-index: 2;
    background: rgba(255,255,255, 0.8);
    padding: 2%;
    width: 25%
}
.formulaire h2{
    margin: 0;
}
.formulaire p{
    color: #686c71;
}
.formulaire em{
    font-style: normal;
    text-decoration: underline dashed;
}
form{
    display: flex;
    flex-direction: column;
}
form input, form textarea{
    margin: 10px 0;
    padding: 5px;
    font-size: 1.2rem;
    border: solid 1px #9f9f9f;
    border-radius: 5px;
}
#envoyer{
    width: 50%;
    font-size: 1rem;
    background: #5cadd3;
    border: none;
    padding: 12px;
    color: white;
}
#envoyer:hover{
   box-shadow: -3px 3px 1px #4494bb;
}


/*MEDIA QUERIES*/
@media all and (max-width:1024px){
    .sliderText {
        max-width: 60%;
        font-size: 1.2rem;
    }
    
    .details{
        display: block;
        text-align: center;
    }
    
    .presentationServices{
        width: auto;
    }
    
    .service{
        margin-left: 2rem;
    }
    
    .image{
        width: 40%;
    }

    .formulaire{
        width: auto;
    }

}

@media all and (max-width: 768px){
    header{
        padding: 0;
    }
    .flexContent{
        display: block;
        text-align: center
    }
    
    .flexContent img{
        max-width: 50%;
        margin-top: 5px;
    }
    
    nav a{
    padding: 2px;
    }
    
    nav a:hover{
    padding-top: 0px;
    border-top: #4494bb 2px solid;
    }
    
    .sliderText{
        max-width: 100%;
        position: initial;
        color: #7a7a7a;
        text-align: center;
        padding-bottom: 2rem;
        font-size: 1rem;
    }
    
    .right, .left {
        top: calc(50% - 10px - 0.5rem);
        font-size: 1rem;
        padding: 10px;
    }
    .fa-angle-right {
        left: 20%;
        top: calc(50% - 0.5em);
    }
    .fa-angle-left {
        right: 20%;
        top: calc(50% - 0.5em);
    }
    
    .titreSection{
        font-size: 1.5rem;
    }
    
     .image{
        width: 60%;
    }
    
    .formulaire{
        position: initial;
        width: auto;
    }
    
    #envoyer{
        width: auto;
    }
    
}